@page
@model AboutModel

<h1>About page</h1>
<div class="grid grid-cols-1">
  <div class="flex flex-row divide-x-2">
    <img src="~/img/warner-signed-photo.jpg" asp-append-version="true" class="h-72 w-auto p-8 border-solid" />
    <p class="p-8">The nationally renowned Pop Warner Little Scholars was started in Philadelphia, Pennsylvania in 1929 by a man named Joseph R. Tomlin. The league started out as local outfit of teens and misfits under the name of the Junior Football Conference until Tomlin met the legendary college football coach Glenn Scobey "Pop" Warner at a banquet in the winter of 1933. From this encounter, Warner gave an inspirational Q&#38;A talk at a clinic in the spring of 1934 and thus won over the hearts and minds of the young athletes who honored him by renaming the league to the Pop Warner Conference. The league saw tremendous growth over the following years going from just 16 teams in 1934 to 150+ teams across the country in 1938. The first national season was held in 1959 after Tomlin incorporated the league as a 501c3 non-profit. Today, Pop Warner serves over 5,000 teams and over 400,000 boys and girls across the U.S.A, Japan, Mexico and Europe.</p>
  <p>Pop Warner football came to North Texas in the Fall of 1986 ... </p>
  </div>
  <div class="flex flex-row divide-x-2">
    <img class="h-72 w-auto p-8" src="https://footballfoundation.org/images/2018/8/3/Tomlin_Joseph_1975_OCAF.jpg?width=300" />
    <p class="p-8">Joe Tomlin</p>
  </div>
</div>
